<p id="notice"><%= notice %></p>

<div>
<% if @listing.picture.attached?%>
  <%= image_tag @listing.picture, alt: @listing.model %>
<% else %>
  <%= image_tag "http://www.placecage.com/640/360", alt: @listing.model %>
<% end %>
</div>


<% if @listing.sold %>
  <h3>SOLD</h3>
<% elsif current_user && current_user.id == @listing.user_id %>
  <h3> This vehicle is currently for sale </h3>
<% elsif current_user %>
  <%= button_to "Buy now!", place_order_path %>
<% else %>
  <h3> Please Log in to make a purchase </h3>
 <% end %>

<p>
  <strong>Year:</strong>
  <%= @listing.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @listing.month %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @listing.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @listing.model %>
</p>

<p>
  <strong>Bodytype:</strong>
  <%= @listing.bodytype %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<p>
  <strong>Odometer:</strong>
  <%= @listing.odometer %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @listing.colour %>
</p>

<p>
  <strong>Condition:</strong>
  <%= format_condition(@listing.condition) %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @listing.seats %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @listing.doors %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @listing.sold %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category_id %>
</p>

<% if current_user && current_user.id == @listing.user.id %>
  <%= link_to 'Edit', edit_listing_path(@listing) %> |
  <% end %>

<%= link_to 'Back', listings_path %>
